body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1,
h3 {
  text-align: center;
}

.balance {
  text-align: center;
  margin: 20px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.income {
  color: green;
}

.expense {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f8fafc;
  padding: 10px;
  margin: 5px 0;
  border-right: 5px solid;
}

li.plus {
  border-color: green;
}

li.minus {
  border-color: red;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 8px;
}

form input,
form button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

form button {
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}
